.jumbotron {
    background-image: url("../img/trout.png");
    background-color: #79b3e6;
    background-size: cover;
    height: 40vh;
}

.alt h1, p {
    position: relative;
    top: -50px;
    color: #fff;
}

.navbar-text {
    font-size: 1.5rem;
    padding-right: 100px;
}

@media (min-width: 575px){
    .navbar-expand-sm {
        -ms-flex-flow: row nowrap !important;
        flex-flow: row nowrap !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
      }
      .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
      }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute !important;
      }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
      }
      .navbar-expand-lg > .container,
      .navbar-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
      }
      .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
      }
      .navbar-expand-lg .navbar-toggler {
        display: none !important;
      }}