.jumbotron {
    background-image: url("../img/trout.png");
    background-color: #79b3e6;
    background-size: cover;
    height: 40vh;
}

.alt h1, p {
    position: relative;
    top: -50px;
    color: #fff;
}

.navbar-text {
    font-size: 1.5rem;
    padding-right: 100px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
 }